@import '08variables';

.icono-vr {
    width: 5%;
    display:block;

    @media only screen and (max-width: 576px) {
        display:none;
    }
}
.grupo-header {
    background-color: $color2;
}
.navbar .collapse .nav-item .nav-link {
    color: $color3;
}
