@import '08variables';


.parrafo-inicio {
    @media only screen and (max-width: 576px) {
padding-top: 30px;
    }
}
.img-inicio {
    position: relative;
    display: inline-block;
    text-align: center;
}
.titulo-inicio {
    @media only screen and (max-width: 576px) {
        font-size: 90%;
    }
}
.h1-vr {
    text-align: center;
    color: $color3;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 576px) {
        text-align: center;
        color: $color3;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.h2-subvr {
    text-align: center;
    color: $color3;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 576px) {
        text-align: center;
        color: $color3;
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.p-inicio {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 130%;

    @media only screen and (max-width: 576px) {
        font-size: 70%;

    }
}

.presupuesto {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: $color5;

    @media only screen and (max-width: 576px) {
        font-size: 60%;

    }
    .presupuesto:hover {
        color: $color4;
    }
}

