.diseño {
background-color: $color2;
}

.texto-diseño {
    color: $color3 ;
    height: 200px;
}

.texto-diseño-x {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.diseño-carrucel {
    padding: 200px;
}

.z-02 {
    text-align: center;
}

.z-05 {
    text-align: center;
}