
.proyectos {
    padding: 10px;
    text-align: center;
}

.texto-proyecto-x {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.texto-proyecto {
    height: 350px;
}

.texto-proyecto-subencavesado {
    padding: 30px;
}
.proyecto-sub {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.proyecto-subx {

    height: 150px;

}


.card {
    display: flex;
    justify-content: center;
    

}

.proyecto-subx .proyectos-ico {
    width: 50px;
}
.card-title {
    @media only screen and (max-width: 576px) {
font-size: 20%;
    }
}

.card-text-00 {
    @media only screen and (max-width: 576px) {
        font-size: 20%;
            }

}
.card-text-01 {
    @media only screen and (max-width: 576px) {
        font-size: 20%;
            }
}
.card-text-02 {
    @media only screen and (max-width: 576px) {
        font-size: 20%;
            }

}
.card-text-03 {
    @media only screen and (max-width: 576px) {
        font-size: 20%;
            }

}

.card-link {
    @media only screen and (max-width: 576px) {
        font-size: 20%;
            }
}
.card-link+.card-link {
    @media only screen and (max-width: 576px) {
        margin-left: 0em !important;
            }

}
