.productos-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.productos-h2{
display: flex;
justify-content: center;
}
.card {
    @media only screen and (max-width: 576px) {
        display: flex;
        justify-content: center;
            }

}

.card-title {
    font-size: 90%;
    @media only screen and (max-width: 576px) {
        font-size: 90%;
            }
}

.card-link {
    font-size: 90%;
    @media only screen and (max-width: 576px) {
        font-size: 90%;
            }
}